@font-face {
	font-family: "Spartan";
	font-style: normal;
	font-weight: 200;
	src: local("Spartan"), url("/fonts/Spartan-ExtraLight.ttf") format("ttf");
	font-display: swap;
}
@font-face {
	font-family: "Spartan";
	font-style: normal;
	font-weight: 400;
	src: local("Spartan"), url("/fonts/Spartan-Regular.ttf") format("ttf");
	font-display: swap;
}
@font-face {
	font-family: "Spartan";
	font-style: normal;
	font-weight: 600;
	src: local("Spartan"), url("/fonts/Spartan-SemiBold.ttf") format("ttf");
	font-display: swap;
}
@font-face {
	font-family: "Spartan";
	font-style: normal;
	font-weight: 800;
	src: local("Spartan"), url("/fonts/Spartan-ExtraBold.ttf") format("ttf");
	font-display: swap;
}
